.fondoverde{
    background-color: green;
}

.fondoazul{
    background-color: blue;
}

.fondovgris{
    background-color: gray;
}

.colorverde{
    color: green;
}

.colorazul{
    color: blue;
}

.colorgris{
    color: gray;
}

.tamanoletra{
    font-size: xx-large;
}